// -----------------------
// layer-rule
// -----------------------
layer-rule {
    match namespace="^launcher$"
    opacity 0.95
}

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

// -----------------------
// window-rule
// -----------------------
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}


window-rule {
  match app-id="jetbrains-idea"
  match app-id="jetbrains-datagrip"
  match app-id="zen"
  match app-id="google-chrome"
  match app-id="obsidian"
  open-maximized true
}
// wechat窗口
window-rule{
  match app-id="wechat"
  match app-id="QQ"
  block-out-from "screencast"
  // default-column-width { proportion 0.75; }
  // default-window-height { fixed 500; }
  clip-to-geometry true
  open-floating true
    focus-ring {
       off 
    }
}
// window-rule{
//   match app-id="^wechat$"
//   match title="^微信$"
//   block-out-from "screencast"
//   // default-column-width { fixed 653; }
//   // default-window-height { fixed 473; }
//   open-floating true
// }
//
window-rule{
  match app-id="kitty"
  opacity 0.95
  background-effect {
      blur true
  }
}
