include "conf/input.kdl"
include "conf/output.kdl"

include "conf/layout.kdl"
include "conf/others.kdl"
include "conf/rule.kdl"
include "conf/binds.kdl"
include "conf/autostart.kdl"
include "conf/animations.kdl"

// blur {
//     // off
//     passes 3
//     offset 3
//     noise 0.02
//     saturation 1.5
// }
// Set transparent workspace background color.
// layout {
//     // background-color "transparent"
//     background-color "00000020"
// }

include "./noctalia.kdl"
